.furniture {
    color: brown;
}

.collection {
    color: lightgreen;
}

.utensils {
    color: gold;
}

.tools {
    color: cyan;
}

.clothing {
    color: red;
}

.electronics {
    color: magenta;
}